<section class="vh-100" style="background-color: #0d0e1b;">
<br><br><br>
<div class="list-group" currentPost>
<p>Autor: {{currentPost.user_id}}</p>
<p>Titulo: {{currentPost.title}}</p>
<p>Conteudo: {{currentPost.content}}</p>
<p>Likes: {{currentPost.likes}}</p>

<button (click)="updatePost()">Editar</button>
<button (click)="deletePost()">Deletar</button>
</div>

<div class="submit-form">
<label for="coments">Deixe seu comentario</label>
<textarea name="coments" id="coments" cols="40" rows="3" placeholder="Digite seu comentario..." required [(ngModel)]="coments.coment"></textarea>
<br>
<button (click)="saveComent()" class="btn btn-success">Enviar</button>
</div>

<hr><br>
<div>
    <p>Autor</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, aspernatur nemo! Eligendi aliquid magnam quo. Sequi est a magnam excepturi, dolorem perspiciatis soluta maiores officia modi at eveniet quas ab?</p>
    <p>Likes : 12</p>
    <button (click)="updateComent()">Editar</button>
    <button (click)="deleteComent()">Deletar</button>
</div>



</section>