.form-outline {
    color: rgb(170, 170, 170);
}

.form-check {
    color: rgb(170, 170, 170);
}

p, small, h3 {
    color: rgb(170, 170, 170);
}
.list {
    text-align: left;
    max-width: 750px;
    margin: auto;
}